html, body{
    margin: 0px;
    padding: 0px;
}

.overviewHeader{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: grey;
    border: 1px solid black;
}

.mainBox{
    display: grid;
}

.twoAndOneFRFrameBox{
    grid-template-columns: 2fr 1fr;
}

.oneAndTwoFRFrameBox{
    grid-template-columns: 1fr 2fr;
}